<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
        
  <context:annotation-config/>
 <context:component-scan base-package="com.*">   
 	<context:exclude-filter expression="org.springframework.stereotype.Controller" type="annotation"/>
 </context:component-scan>  
 <bean id="logAspect" class="com.ecommerce.aspect.LoggingAspect" />
<aop:aspectj-autoproxy proxy-target-class="true">
    <aop:include name="logAspect" />
    </aop:aspectj-autoproxy>
    	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"> 
		<property name="dataSource" ref="dataSource"/>
    	<property name="packagesToScan" value="com.ecommerce.persistence"/>
    	<property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.OracleDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">Update</prop>
            </props>
        </property>	
	</bean> 
	
     <bean id="registrationDao" class="com.ecommerce.dao.RegistrationDaoImpl">
    	 <property name="sessionFactory" ref="sessionFactory"/> 
    </bean>
      <bean id="productDao" class="com.ecommerce.dao.ProductDaoImpl">
    	 <property name="sessionFactory" ref="sessionFactory"/> 
    </bean> 
      <bean id="cartOperationsDao" class="com.ecommerce.dao.CartOperationsDaoImpl">
    	 <property name="sessionFactory" ref="sessionFactory"/> 
    </bean> 
      <bean id="userOperationsDao" class="com.ecommerce.dao.security.UserOperationsDaoImpl">
    	 <property name="sessionFactory" ref="sessionFactory"/> 
    </bean> 
    
    <bean id="myUserDetailsService" class="com.ecommerce.security.MyUserDetailsService">
    	 <property name="sessionFactory" ref="sessionFactory"/> 
    </bean>
    <bean id="shoppingCart" class="com.ecommerce.web.bean.ShoppingCart">
    	 
    </bean>

 
	<bean id="registrationBean" class="com.ecommerce.persistence.RegistrationBean">
	</bean>
	
	<bean id="productBean" class="com.ecommerce.persistence.ProductBean">
	</bean>
	
	<!-- Aspect -->
	
	
	<!-- By using dbcp.BasicDataSource, you get a couple of extra properties: initalSize and maxActive  -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:test" />
        <property name="username" value="cogent" />
        <property name="password" value="Cogent123" />
	</bean>
 
	
        </beans>